body,
input,
button {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #bdc1c6;
}

body {
  background: #202124;
}

.bigHeader {
  padding: 6px;
}

.informationWrapper {
  display: flex;
  align-items: center;
  float: right;
}

.gb {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.images {
  padding-left: 15px;
}

.menuDetail {
  color: rgba(255, 255, 255, 0.87);
  fill: currentColor;
  opacity: 1;
  overflow: hidden;
}
.menu {
  width: 24px;
  height: 24px;
  padding-left: 24px;
}
.src {
  width: 32px;
  height: 32px;
  background-size: 32px;
  border-radius: 50%;
  margin-left: 24px;
}

.container {
  width: 100%;
  height: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.google {
  max-height: 92px;
}

.inputWrapper {
  padding: 20px;
  max-height: 160px;
}

.inputMidWrapper {
  position: relative;
  margin: 0 auto;
  width: auto;
  max-width: 584px;
}

.inputlastwrapper {
  background: #202124;
  display: flex;
  border: 1px solid #5f6368;
  box-shadow: none;
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
  width: auto;
  max-width: 584px;
  padding-left: 14px;
}

.searchWrapper {
  margin: auto;
  display: block;
}

.searchWrapperTwo {
  color: #9aa0a6;
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  fill: currentColor;
}

.search {
  background-color: transparent;
  border: none;
  margin: 0;
  color: #e8eaed;
  word-wrap: break-word;
  height: 34px;
  font-size: 16px;
}

.mikeImageWrapper {
  width: 24px;
  height: 44px;
  padding: 0 8px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.buttonsWrapper {
  margin-top: 18px;
  display: flex;
}

.buttonSearch {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 36px;
  width: 119.41px;
  cursor: pointer;
}

.buttonSearchTwo {
  margin-left: 10px;
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 4px;
  color: #e8eaed;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 36px;
  width: 134.5px;
  cursor: pointer;
}
